@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

* {
	margin: 0px;
	padding: 0px;
}
ul, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
.headerContainer {
	background: url(../images/crater_lake.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 217px 0 300px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
	position: fixed;
}

.headerContainer .navbar-inner {
	padding: 0 20px;
}

.navbar-transparent {
	background-color: transparent;
    background: transparent;
    border:none;
}

.navbar {
	overflow:visible;
   /* background-color: transparent;
    background: transparent;*/
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	padding: 0px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
	top:0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0;
}

.navbar-default {
	background: none;
	border: 0px;
	box-shadow: none;
}

.logoCon {
	margin: 24px auto 17px;
	max-width: 1280px;
}

.leftLogo {
	float: left;
}

.logo-text {
	color: #fff;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.logo-text a {
	color: #fff;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.logo-text a:hover {
	color: #3498db;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.logo-text-scrolled {
	color: #343738;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.logo-text-scrolled a {
	color: #343738;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.logo-text-scrolled a:hover {
	color: #3498db;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.leftLogo.span2 {
	float: left;
	width: 23%;
}

.leftLogo.span2 {
	display: block;
	float: none;
	width: auto;
}

.navigation {
	text-align: right;
	color: #3baa57;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	float: right;
}

.SignInFacebook {
	text-align: center;
	padding: 0 20px;
}

.SignInFacebook h2 {
	color: #fff;
	font-size: 70px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 0px;
	-webkit-transition: color 1s ease-in-out;
	-moz-transition: color 1s ease-in-out;
	-ms-transition: color 1s ease-in-out;
	-o-transition: color 1s ease-in-out;
	transition: color 1s ease-in-out;
}

.SignInFacebook h3 {
	color: #fff;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 30px 0;
}

.SignInFacebook h4 {
	color: #fff;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 30px 0;
}

.SignInFacebook h2 font {
	color: #3498db;
}

.SignInFacebook h2 {
	font-size: 70px;
	line-height: 51px;
}

.btnGreen {
	display: inline-block;
	background: #bdc3c7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4YTY1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNiYWE1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MWFlNWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #bdc3c7 0%, #bdc3c7 50%, #bdc3c7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bdc3c7), color-stop(50%, #bdc3c7), color-stop(100%, #bdc3c7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bdc3c7 0%, #bdc3c7 50%, #bdc3c7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bdc3c7 0%, #bdc3c7 50%, #bdc3c7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #bdc3c7 0%, #bdc3c7 50%, #bdc3c7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #bdc3c7 0%, #bdc3c7 50%, #bdc3c7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdc3c7', endColorstr='#bdc3c7', GradientType=0 ); /* IE6-8 */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
	padding: 0 0 0 17px;
	text-transform: uppercase;
}
.btnGreen a {
	font-size: 17px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.btnGreen a:hover {
	text-decoration: none;
}
.btnGreen span {
	border-right: 1px solid #FFFFFF;
	display: inline-block;
	padding: 11px 12px 11px 0;
}
.btnGreen font {
	padding: 11px 11px 12px;
}
.btnGreen:hover {
	background: #95a5a6;
}

.section2 {
	background: #fff;
	padding: 147px 0 0;
	height:916px;
	overflow:hidden;
}

.innerWidth {
	margin: 0 auto 50px;
	max-width: 800px;
	text-align: center;
	overflow: hidden;
	padding: 0 20px;
}

.outerWidth {
	margin: 0 auto 50px;
	max-width: 1000px;
	text-align: center;
	overflow: hidden;
	padding: 0 20px;
}

.headingTitle h2 {
	color: #3498db;
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
}

.headingTitle p {
	color: #8e9499;
	font-size: 23px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding: 40px 0 60px;
	line-height: 34px;
}

.section4 {
	padding:146px 0 0 0;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: rgb(250,250,250); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(250,250,250,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

}

ul.choices li {
	list-style-image:none;
    list-style-type:none;
    margin-left:0;
    white-space:normal;
    display:inline;
    float:left;
    padding-left:0px;
    margin-right: 14px;
}

ul.choices li a {
	color:#fff;
}

ul.choices li a:hover {
	color:#3498db;
}

.f-nav {
	background: #fff !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 7px #f1f1f1;
	transition-property: all;
	transition-duration: 1s, 2s;
	transition-timing-function: ease;
}

.f-nav .discoverText a {
	color: #3cab59;
}

.f-nav2 {
	padding: 130px 0 0 !important;
	/*transition-property: all;
	transition-duration: 1s, 2s;
	transition-timing-function: ease;*/
}

.f-nav2 {
	padding: 0px !important;
}

.image-center {
	margin: 0px auto;
	width:750px;
}

.social-scrolled {
	color:#343738;
}

.profile-name {
	color:#2980b9;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 10px;
}

.profile-title {
	color: #2c3e50;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 10px;
}

.profile-description {
	color: #2c3e50;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	width:250px;
	margin:0 auto;
	margin-bottom:20px;
}